/*@import 'reset';*/
/**:hover{
  transition: all 280ms ease-in-out;
}*/
section {
  display: block;
  height: 100vh; }

h1 {
  color: #bda355;
  font-family: "Playfair Display", serif;
  font-size: 4.3em;
  text-transform: capitalize; }

h2 {
  color: #bda355;
  font-family: "Playfair Display", serif;
  font-size: 2.8em;
  text-transform: capitalize; }

h3 {
  color: #bda355;
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  margin-top: 2%;
  text-transform: capitalize; }

h4 {
  color: #bda355;
  font-family: "Playfair Display", serif;
  font-size: 1.875em; }

h5 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  margin-top: 2%; }

h6 {
  font-family: "Playfair Display", serif;
  font-size: 1.3em; }

p {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 125%;
  margin-top: 15px; }

hr {
  border-top: 1px solid #d5d5d5;
  margin-top: 3%; }

.basepadding, .hometopContent, .threeFourth, .oneFourth, .columnThree {
  padding: 0 7%; }

.btn {
  background: #000000;
  border: 0;
  border-radius: 0;
  display: inline-block;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 3% 5%;
  text-transform: uppercase;
  text-align: center; }
  .btn:link {
    color: #ffffff;
    text-decoration: none; }

.middle {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

#navbarNav {
  justify-content: flex-end;
  align-self: flex-start; }

.row {
  margin-right: 0;
  margin-left: 0; }

/* ///////////// header  ////////////// */
.head {
  clear: both;
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%; }

/*header ul{
	display: block;
	margin: 0;
	padding: 0;
  width: 100%;
}

header ul li{
	float: left;
	font-family: $font-style-primary;
	position: relative;
  margin: 0 2%;
}

header ul li a{
  &:link{
  	color: $quaternary;
  	display: inline-block;
  	line-height: 54px;
  	text-decoration: none;
  }
  &:visited {
  	color: $tertiary;
  }
  &:hover    {
  	color: $primary;
  }
  &:active   {
  	color: $primary;
  }
  &:focus {
  	color: $primary;
  }
	.nav{
		float: right;
	}
}*/
.logo {
  width: 10%; }
  .logo img {
    width: 100%; }

nav a {
  font-family: "Playfair Display", serif; }
  nav a:link {
    color: #000000; }
  nav a:visited {
    color: #ffffff; }
  nav a:hover {
    color: #bda355; }
  nav a:active {
    color: #bda355; }
  nav a:focus {
    color: #bda355; }

/* ///////////// header end ////////////// */
.hometop {
  background-attachment: fixed;
  background-image: url("../assets/diamond-homeCover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.hometopContent {
  /*padding-top: 15%;*/ }

.threeFourth {
  height: 75vh;
  display: flex;
  align-items: center; }

.oneFourth {
  background: #edece8;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .oneFourth a.btn {
    background: #000000;
    border: 0;
    border-radius: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    padding: 10% 5%;
    text-transform: uppercase;
    text-align: center; }
    .oneFourth a.btn:link {
      color: #ffffff;
      text-decoration: none; }

.forty {
  float: left;
  width: 35%;
  margin-right: 5%; }
  .forty img {
    width: 100%; }

.sixty {
  float: left;
  min-height: 50px;
  width: 60%; }
  .sixty p {
    /*font-size: 1.5em;*/
    margin-top: 4%; }
  .sixty .logosTwo {
    justify-content: space-between;
    align-self: flex-end; }
    .sixty .logosTwo img {
      width: 40%;
      align-self: flex-end; }

.thirty {
  background-image: url("../assets/nailsDiscover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
  /*width: 30%;*/ }

.seventy {
  margin-top: 5%;
  min-height: 100px;
  padding-left: 5%;
  padding-right: 7%;
  /*width: 58%;*/ }

.textColumn {
  	/*-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  	-webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;*/
  margin-top: 5%; }
  .textColumn p:first-of-type {
    margin-top: 0; }
  .textColumn p:first-child:first-letter {
    color: #bda355;
    		/*font-family: $font-style-secondary;
    		-webkit-initial-letter: 3;
              initial-letter: 3;*/
    float: left;
    font-size: 400%;
    line-height: 0.5em;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-right: 0.1em;
    text-align: justify; }

.columnThree {
  /*display: flex;
  flex: 1;
  justify-content: space-between;*/
  /*div{
  	width: 30%;
  }*/ }

.featuredStyle {
  display: flex;
  margin-top: 5%; }

.featuredStyleL {
  /*float: left;
  width: 43%;*/
  padding-left: 7%; }
  .featuredStyleL p {
    margin-bottom: 5%; }

.featuredStyleR {
  /*float: left;
  width: 50%;*/
  background-image: url("../assets/venuesGemsBrownLarge.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto; }
  .featuredStyleR img {
    width: 100%; }

.verticalSpace {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  /*flex-direction: column;*/ }

.newsletter {
  	/*
    background-image: url("../assets/nailsSushi.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  	background-size: 100% auto;*/
  /*align-items: center;*/
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../assets/nailsSushi.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  	/*display: flex;
    justify-content: center;*/
  text-align: center; }
  .newsletter h1 {
    color: #ffffff; }

.contact {
  margin: 0 25%; }
  .contact h1 {
    margin-bottom: 25px; }
  .contact p {
    margin-bottom: 20px; }

/* ///////////// form end ////////////// */
form {
  margin-top: 2%; }
  form div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

input[type="text"], input[type="email"] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 30px;
  line-height: normal;
  margin: 25px 0 0 0;
  outline: 0;
  width: 35%; }

input:focus, textarea:focus {
  background: none repeat scroll 0 0;
  border-bottom: 1px solid #000000;
  color: #000000; }

input[type="submit"], input[type="button"], input[type="reset"] {
  /*padding: 2% 5%;
  margin: 0 0 1% 0;*/
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  height: 40px;
  margin-top: 55%;
  text-transform: uppercase; }

textarea {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: normal;
  margin: 40px 0 0 0;
  padding: 1%;
  text-indent: 1%;
  width: 100%; }

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
  cursor: pointer;
  background-color: #bda355; }

input[type="submit"]:visited {
  cursor: pointer;
  background-color: #bda355; }

input[type="submit"]:active {
  cursor: pointer;
  background-color: #bda355; }

input[type="submit"]:focus {
  cursor: pointer;
  background-color: #bda355; }

.secondaryForm {
  width: 80%; }
  .secondaryForm input[type="text"], .secondaryForm input[type="email"] {
    border-bottom: 1px solid #000000;
    color: #000000;
    width: 100%; }
  .secondaryForm input:focus, .secondaryForm textarea:focus {
    border-bottom: 1px solid #bda355;
    color: #bda355; }
  .secondaryForm textarea {
    border: 1px solid #000000; }
  .secondaryForm input[type="submit"], .secondaryForm input[type="button"], .secondaryForm input[type="reset"] {
    margin-top: 5%;
    padding: 2% 9%; }

/* ///////////// form end ////////////// */
.policy {
  padding-top: 8.5rem;
  padding-bottom: 4rem; }
  .policy h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 15px; }
  .policy p {
    margin-top: 0;
    margin-bottom: 15px; }
    .policy p:first-of-type {
      margin-top: 35px; }
  .policy ul {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    margin-left: 30px; }
    .policy ul li {
      list-style-type: disc;
      margin-top: 10px; }

/* ///////////// footer ////////////// */
.fullpagefooter, footer {
  background: #edece8;
  clear: both;
  height: 20vh; }
  .fullpagefooter .footerSplit, footer .footerSplit {
    display: flex;
    justify-content: space-between; }
    .fullpagefooter .footerSplit div:last-of-type, footer .footerSplit div:last-of-type {
      text-align: right; }

/* ///////////// footer end ////////////// */
@media (min-width: 576px) and (max-width: 767px) {
  .secondaryForm {
    width: 100%; } }
@media (max-width: 575px) {
  h1 {
    font-size: 3.1em; }

  .oneFourth {
    height: auto; }
    .oneFourth h1 {
      font-size: 2.7em; }

  .logo {
    width: 20%; }

  .hometop {
    background-position: right center;
    background-size: cover; }

  .thirty {
    height: 30vh;
    background-position: center bottom; }

  .seventy {
    padding-left: 7%;
    padding-right: 7%; }

  .textColumn {
    -webkit-column-count: 0;
    -moz-column-count: 0;
    column-count: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; }

  input[type="text"], input[type="email"] {
    width: 100%; }

  .contact {
    margin: 0 7%; } }
@media (min-width: 576px) {
  .thirty {
    height: 30vh;
    background-position: center bottom; }

  .seventy {
    padding-left: 7%; }

  .textColumn {
    -webkit-column-count: 0;
    -moz-column-count: 0;
    column-count: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; }

  input[type="text"], input[type="email"] {
    width: 100%; }

  .contact {
    margin: 0 7%; } }
@media (min-width: 768px) {
  h1 {
    font-size: 3.8em; }

  p {
    font-size: 1em; }

  .hometop {
    background-position: right center;
    background-size: cover; }

  .thirty {
    height: 100vh;
    background-position: center center; }

  .seventy {
    padding-left: 5%; }

  .textColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }

  .contact {
    margin: 0 15%; } }
@media (min-width: 992px) {
  h1 {
    font-size: 3.8em; }

  p {
    font-size: 1.125em; }

  .hometop {
    background-position: center center;
    background-size: 100% auto; }

  .contact {
    margin: 0 25%; } }
@media (min-width: 1200px) {
  h1 {
    font-size: 4em; }

  h2 {
    font-size: 2.8em; }

  h3 {
    font-size: 2.25em; }

  h4 {
    font-size: 1.875em; }

  h5 {
    font-size: 1.5em; }

  h6 {
    font-size: 1.3em; }

  input[type="text"], input[type="email"] {
    width: 35%; } }

/*# sourceMappingURL=styles.css.map */
