// base.scss
$primary: #bda355; //Gold
$secondary: #edece8; //grey
$tertiary: #ffffff; //white
$quaternary: #000000; //black
//$quinary: ;
$font-style-primary: 'Playfair Display', serif;
$font-style-secondary: 'Lato', Helvetica, Arial, sans-serif;

section{
  display: block;
  height: 100vh;
}

h1 {
  color: $primary;
  font-family: $font-style-primary;
  font-size: 4.3em;
  text-transform: capitalize;
}
h2 {
  color: $primary;
  font-family: $font-style-primary;
  font-size: 2.8em;
  text-transform: capitalize;
}
h3 {
  color: $primary;
  font-family: $font-style-primary;
  font-size: 2.25em;
  margin-top: 2%;
  text-transform: capitalize;
}
h4 {
  color: $primary;
  font-family: $font-style-primary;
  font-size: 1.875em;
}
h5 {
  color: $tertiary;
  font-family: $font-style-primary;
  font-size: 1.5em;
  margin-top: 2%;
}
h6 {

}
p{
  font-family: $font-style-secondary;
  font-size: 1.125em;
  line-height: 125%;
  margin-top: 15px;
}
hr{
  border-top: 1px solid #d5d5d5;
  margin-top: 3%;
}
.basepadding{
  padding: 0 7%;
}
.btn{
  background: $quaternary;
  border: 0;
  border-radius: 0;
  display: inline-block;
  font-family: $font-style-secondary;
  font-size: 1em;
  font-weight: 300;
  padding: 3% 5%;
  text-transform: uppercase;
  text-align: center;
  &:link{
    color: $tertiary;
    text-decoration: none;
  }
}
//** Bootstrap override **//
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
