/*@import 'reset';*/
@import 'base';


/* ///////////// header  ////////////// */
.head{
	clear: both;
	display: block;
	position: absolute;
  z-index: 1;
  width: 100%;
}

/*header ul{
	display: block;
	margin: 0;
	padding: 0;
  width: 100%;
}

header ul li{
	float: left;
	font-family: $font-style-primary;
	position: relative;
  margin: 0 2%;
}

header ul li a{
  &:link{
  	color: $quaternary;
  	display: inline-block;
  	line-height: 54px;
  	text-decoration: none;
  }
  &:visited {
  	color: $tertiary;
  }
  &:hover    {
  	color: $primary;
  }
  &:active   {
  	color: $primary;
  }
  &:focus {
  	color: $primary;
  }
	.nav{
		float: right;
	}
}*/

.logo{
	width: 10%;
  img{
    width: 100%;
  }
}

nav a{
	font-family: $font-style-primary;
  &:link{
  	color: $quaternary;
  }
  &:visited {
  	color: $tertiary;
  }
  &:hover    {
  	color: $primary;
  }
  &:active   {
  	color: $primary;
  }
  &:focus {
  	color: $primary;
  }
}

/* ///////////// header end ////////////// */

.hometop{
  background-attachment: fixed;
  background-image: url("../assets/diamond-homeCover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: 100% auto;
}
.hometopContent{
	@extend .basepadding;
  /*padding-top: 15%;*/
}

.threeFourth{
  height: 75vh;
  @extend .basepadding;
  display: flex;
  align-items: center;
}
.oneFourth{
  background: $secondary;
  height: 25vh;
  @extend .basepadding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a.btn{
    background: $quaternary;
		border: 0;
	  border-radius: 0;
    font-family: $font-style-secondary;
    font-size: 1.5em;
    font-weight: 300;
    padding: 10% 5%;
    text-transform: uppercase;
    text-align: center;
    &:link{
      color: $tertiary;
      text-decoration: none;
    }
  }
}
.forty{
  float: left;
  width: 35%;
  margin-right: 5%;
  img{
    width: 100%;
  }
}
.sixty{
  float: left;
  min-height: 50px;
  width: 60%;
	p{
		/*font-size: 1.5em;*/
		margin-top: 4%;
	}
	.logosTwo{
		justify-content: space-between;
		align-self: flex-end;
		img{
			width: 40%;
			align-self: flex-end;
		}
	}
}

.thirty{
	background-image: url("../assets/nailsDiscover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: 100% auto;
	height: 100vh;
	/*width: 30%;*/
}
.seventy{
	margin-top: 5%;
	min-height: 100px;
	padding-left: 5%;
	padding-right: 7%;
	/*width: 58%;*/
}
.textColumn{
	/*-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
	-webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;*/
	margin-top: 5%;
	p:first-of-type{
		margin-top: 0;
	}
	p:first-child:first-letter {
  	color: $primary;
		/*font-family: $font-style-secondary;
		-webkit-initial-letter: 3;
          initial-letter: 3;*/
		float: left;
		font-size: 400%;
		line-height: 0.5em;
		padding-top: 0;
		padding-bottom: 0.1em;
		padding-right: 0.1em;
		text-align: justify;
	}
}
.columnThree{
	/*display: flex;
	flex: 1;
	justify-content: space-between;*/
	@extend .basepadding;
	/*div{
		width: 30%;
	}*/
}
.featuredStyle{
	display: flex;
	margin-top: 5%;
}
.featuredStyleL{
  /*float: left;
  width: 43%;*/
	padding-left: 7%;
	p{
		margin-bottom: 5%;
	}
}
.featuredStyleR{
  /*float: left;
  width: 50%;*/
	background-image: url("../assets/venuesGemsBrownLarge.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: 100% auto;
	img{
		width: 100%;
	}
}

.verticalSpace{
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	/*flex-direction: column;*/
}
.newsletter{
	/*
  background-image: url("../assets/nailsSushi.jpg");
  background-position: center center;
  background-repeat: no-repeat;
	background-size: 100% auto;*/
	/*align-items: center;*/
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url("../assets/nailsSushi.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*display: flex;
  justify-content: center;*/
	text-align: center;
	h1{
		color: $tertiary;
	}
}

.contact{
	margin: 0 25%;
	h1{
		margin-bottom: 25px;
	}
	p{
		margin-bottom: 20px;
	}
}
/* ///////////// form end ////////////// */
form{
		margin-top: 2%;
	div:first-of-type{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
input[type="text"], input[type="email"] {
  background: transparent;
	border: 0;
  border-bottom: 1px solid $tertiary;
	box-sizing: border-box;
	color: $tertiary;
	display: block;
	font-family: $font-style-secondary;
	font-size: 1em;
	height: 30px;
	line-height: normal;
	margin: 25px 0 0 0;
	outline: 0;
	width: 35%;
}
input:focus, textarea:focus {
	background:none repeat scroll 0 0;
	border-bottom: 1px solid $quaternary;
	color: $quaternary;
}
input[type="submit"], input[type="button"], input[type="reset"] {
	/*padding: 2% 5%;
	margin: 0 0 1% 0;*/
	border: none;
	background-color: $quaternary;
	color: $tertiary;
	font-family: $font-style-secondary;
	font-size: 1em;
	font-weight: 300;
	height: 40px;
	margin-top: 55%;
	text-transform: uppercase;
}
textarea {
	border: 1px solid $tertiary;
	box-sizing: border-box;
	font-family: $font-style-secondary;
	font-size: 1em;
	line-height: normal;
	margin: 40px 0 0 0;
	padding: 1%;
	text-indent: 1%;
	width:100%;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover{cursor: pointer;background-color: $primary;}
input[type="submit"]:visited{cursor: pointer;background-color: $primary;}
input[type="submit"]:active{cursor: pointer;background-color: $primary;}
input[type="submit"]:focus{cursor: pointer;background-color: $primary;}

.secondaryForm{
	width: 80%;
	input[type="text"], input[type="email"] {
		border-bottom: 1px solid $quaternary;
		color: $quaternary;
		width: 100%;
	}
	input:focus, textarea:focus {
		border-bottom: 1px solid $primary;
		color: $primary;
	}
	textarea {
		border: 1px solid $quaternary;
	}
	input[type="submit"], input[type="button"], input[type="reset"] {
		margin-top: 5%;
		padding: 2% 9%;
	}
}
/* ///////////// form end ////////////// */
.policy{
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	h6 {
	  font-family: $font-style-secondary;
	  font-size: 1.3em;
		font-weight: 700;
		padding-top: 15px;
	}
	p{
	  margin-top: 0;
		margin-bottom: 15px;
		&:first-of-type{
			 margin-top: 35px;
		 }
	}
	ul{
		font-family: $font-style-secondary;
	  font-size: 1.125em;
		margin-left: 30px;
		li{
			list-style-type:disc;
			margin-top: 10px;
		}
	}
}
/* ///////////// footer ////////////// */
.fullpagefooter, footer{
	background: $secondary;
	clear: both;
	height: 20vh;
	.footerSplit{
		display: flex;
		justify-content: space-between;
		div{
			&:first-of-type{

			}
			&:last-of-type{
				text-align: right;
			}
		}
	}
}
/* ///////////// footer end ////////////// */

@import 'responsiveness';
